{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg-dark bg-opacity-50 p-5 rounded text-white justify-content-center align-items-center" style="background-image:url('{% static 'images/contact.jpg'%}');background-size:cover; background-position:center;background-repeat:no-repeat;height:100vh;">
<h3><i>We are here to help you if you have a question ,feedback or need support ,feel free to reach out .Our team will get back to you as soon as possible .</i></h3>
<br>
<br>
<h4 class="text-primary">Contact details</h4>
<h5 class="text-success"><bold>[ Phone</bold> :1234567890</h5>
<h5 class="text-danger"><bold>Emial</bold>:Hospital@example.com</h5>
<h4 class="text-primary"><bold>Support Hours:<br></bold></h4>
<h5 class="text-white">Monday-Friday:9:00AM-6:00PM<br>Saturday:10:00AM-4:00PM<br>Sunday:Closed</h5>
</div>
{% endblock %}
