{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg-dark bg-opacity-50 p-5 rounded text-white text-center d-flex flex-column justify-content-center align-items-center" style="background-image: url('{% static 'images/home.jpg' %}'); background-size: cover; background-position: center; background-repeat:no-repeat; height:100vh; margin:0; color:black;" >
  <h1 class="display-4 fw-bold">Welcome to Book your appointment</h1>
  <p class="lead" >Your trusted platform to book appointments with certified doctors</p>
</div>
{% endblock %}


